<h3 class="display-5 m-3" align="center">New Flat</h3>

<div class="form-group m-5">
<%= form_for(@flat) do |f| %>
  <%= f.label :name, class:"font-italic" %>
  <%= f.text_field :name, class:"form-control"%>

  <%= f.label :address, class:"font-italic"  %>
  <%= f.text_field :address, class:"form-control" %>

  <%= f.label :description, class:"font-italic"%>
  <%= f.text_field :description, class:"form-control"%>

  <%= f.label :price_per_night, class:"font-italic"%>
  <%= f.text_field :price_per_night, class:"form-control"%>

  <%= f.label :number_of_guests, class:"font-italic"%>
  <%= f.text_field :number_of_guests, class:"form-control"%>

  <div align="center">
    <%= f.submit class:"btn btn-success m-3 p-3" %>
    <%= link_to "Back", flats_path, class:"btn btn-warning m-3 p-3" %>
  </div>
<% end %>
</div>